<div id="labelwrapper">
  <div class="span5">Console format</div>
  <div class="span7"><%= f.input :console_format , label: false%></div>
</div>

<div id="labelwrapper">
  <div class="span5">Console name</div>
  <div class="span7"><%= f.input :name , label: false%></div>
</div>

  <%= f.submit "Submit", class: "btn btn-success" %>


