// Place all the styles related to the giftsearches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#empty-table{
  margin-top:40px;
}

.results-info{
  font-family: calibri;
  font-weight: bold;
}

.push-right{
  padding-left:50px;
  margin-top:10px;
  color:dimgray;
  font-family: tahoma;
  font-size: 2em;
  margin-bottom: 40px;
}

#compare-button-text{
  font-size: 0.7em;
  padding:3px;
  color:white;

}